In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Moroccan All Shares - Données Historiques.csv")
df

            Date    Dernier       Ouv.  Plus Haut   Plus Bas  Vol. Variation %
0     19/12/2025  18.938,30  18.815,95  19.005,82  18.815,95   NaN       0,65%
1     18/12/2025  18.815,95  18.760,08  18.869,60  18.759,49   NaN       0,30%
2     17/12/2025  18.760,08  18.583,78  18.767,61  18.583,78   NaN       0,95%
3     16/12/2025  18.583,78  18.553,93  18.671,92  18.543,49   NaN       0,16%
4     15/12/2025  18.553,93  18.566,51  18.694,45  18.515,19   NaN      -0,07%
...          ...        ...        ...        ...        ...   ...         ...
1232  08/01/2021  11.249,14  11.271,23  11.298,06  11.244,10   NaN      -0,20%
1233  07/01/2021  11.271,23  11.215,71  11.303,69  11.215,71   NaN       0,50%
1234  06/01/2021  11.215,71  11.253,70  11.277,86  11.210,15   NaN      -0,34%
1235  05/01/2021  11.253,70  11.308,67  11.327,53  11.253,28   NaN      -0,77%
1236  04/01/2021  11.340,86  11.287,38  11.340,97  11.274,78   NaN       0,47%

[1237 rows x 7 columns]

In [3]:
# Convert to datetime
df["Date"] = pd.to_datetime(df["Date"])

for col in df.columns:
    if col == "Date" or col == "Vol." or col == "Variation %":
        continue
    df[col] = (
        df[col]
        .str.replace(".", "", regex=False)
        .str.replace(",", ".", regex=False) 
        .astype(float)
    )

C:\Users\HP\AppData\Local\Temp\ipykernel_22568\1065603435.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Date"] = pd.to_datetime(df["Date"])

In [4]:
# Flag Fridays
df["is_friday"] = df["Date"].dt.weekday == 4

df

,Date,Dernier,Ouv.,Plus Haut,Plus Bas,Vol.,Variation %,is_friday
0,2025-12-19,18938.30,18815.95,19005.82,18815.95,NaN,"0,65%",True
1,2025-12-18,18815.95,18760.08,18869.60,18759.49,NaN,"0,30%",False
2,2025-12-17,18760.08,18583.78,18767.61,18583.78,NaN,"0,95%",False
3,2025-12-16,18583.78,18553.93,18671.92,18543.49,NaN,"0,16%",False
4,2025-12-15,18553.93,18566.51,18694.45,18515.19,NaN,"-0,07%",False
...,...,...,...,...,...,...,...,...
1232,2021-01-08,11249.14,11271.23,11298.06,11244.10,NaN,"-0,20%",True
1233,2021-01-07,11271.23,11215.71,11303.69,11215.71,NaN,"0,50%",False
1234,2021-01-06,11215.71,11253.70,11277.86,11210.15,NaN,"-0,34%",False
1235,2021-01-05,11253.70,11308.67,11327.53,11253.28,NaN,"-0,77%",False
1236,2021-01-04,11340.86,11287.38,11340.97,11274.78,NaN,"0,47%",False

In [5]:

df["weekly_mean"] = (
    df
    .groupby(df["Date"].dt.to_period("W-FRI"))["Dernier"]
    .transform("mean")
)

In [7]:
df.head(20)

,Date,Dernier,Ouv.,Plus Haut,Plus Bas,Vol.,Variation %,is_friday,weekly_mean
0,2025-12-19,18938.30,18815.95,19005.82,18815.95,NaN,"0,65%",True,18730.408
1,2025-12-18,18815.95,18760.08,18869.60,18759.49,NaN,"0,30%",False,18730.408
2,2025-12-17,18760.08,18583.78,18767.61,18583.78,NaN,"0,95%",False,18730.408
3,2025-12-16,18583.78,18553.93,18671.92,18543.49,NaN,"0,16%",False,18730.408
4,2025-12-15,18553.93,18566.51,18694.45,18515.19,NaN,"-0,07%",False,18730.408
5,2025-12-12,18566.51,18498.78,18622.63,18498.78,NaN,"0,37%",True,18503.504
6,2025-12-11,18498.78,18520.07,18545.73,18418.11,NaN,"-0,11%",False,18503.504
7,2025-12-10,18520.07,18458.27,18529.44,18396.95,NaN,"0,33%",False,18503.504
8,2025-12-09,18458.70,18473.46,18527.50,18410.70,NaN,"-0,08%",False,18503.504
9,2025-12-08,18473.46,18469.38,18563.04,18418.04,NaN,"0,02%",False,18503.504
10,2025-12-05,18469.38,18386.27,18480.01,18339.21,NaN,"0,45%",True,18402.574
11,2025-12-04,18386.27,18371.96,18495.42,18371.68,NaN,"0,08%",False,18402.574
12,2025-12-03,18371.96,18350.34,18415.29,18323.25,NaN,"0,12%",False,18402.574
13,2025-12-02,18350.34,18428.73,18437.57,18318.91,NaN,"-0,46%",False,18402.574
14,2025-12-01,18434.92,18603.59,18603.59,18434.92,NaN,"-0,91%",False,18402.574
15,2025-11-28,18603.59,18640.63,18662.77,18492.47,NaN,"-0,20%",True,18500.016
16,2025-11-27,18640.63,18535.59,18648.85,18515.50,NaN,"0,57%",False,18500.016
17,2025-11-26,18535.59,18382.71,18538.80,18382.71,NaN,"0,83%",False,18500.016
18,2025-11-25,18382.71,18337.56,18458.28,18337.56,NaN,"0,25%",False,18500.016
19,2025-11-24,18337.56,18205.28,18340.14,18187.32,NaN,"0,73%",False,18500.016

In [9]:
df_filtered = df[df["is_friday"]]
df_filtered

,Date,Dernier,Ouv.,Plus Haut,Plus Bas,Vol.,Variation %,is_friday,weekly_mean
0,2025-12-19,18938.30,18815.95,19005.82,18815.95,NaN,"0,65%",True,18730.4080
5,2025-12-12,18566.51,18498.78,18622.63,18498.78,NaN,"0,37%",True,18503.5040
10,2025-12-05,18469.38,18386.27,18480.01,18339.21,NaN,"0,45%",True,18402.5740
15,2025-11-28,18603.59,18640.63,18662.77,18492.47,NaN,"-0,20%",True,18500.0160
20,2025-11-21,18205.28,18112.94,18217.85,18112.90,NaN,"0,51%",True,18255.5225
...,...,...,...,...,...,...,...,...,...
1213,2021-02-05,11713.50,11742.17,11778.18,11713.50,NaN,"-0,24%",True,11710.7080
1218,2021-01-29,11630.01,11657.63,11711.26,11630.01,NaN,"-0,24%",True,11667.5300
1223,2021-01-22,11563.73,11514.99,11567.93,11499.44,NaN,"0,42%",True,11508.4480
1228,2021-01-15,11416.19,11326.79,11442.59,11315.60,NaN,"0,79%",True,11325.5150
1232,2021-01-08,11249.14,11271.23,11298.06,11244.10,NaN,"-0,20%",True,11266.1280